/* Style your dropdown below! */

#toogle {

background-color:lightcoral;
padding:5px;
color:white;
margin-bottom:0;
text-align:center;


}

.container {
    width: 400px;
    text-align: center;

}

ul {
    list-style-type:none;
    padding:0;
}

li {
    border:1px solid black;
}